
 h1{
      color: rgb(210, 105, 30);   
    }
.header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
.subheader{
    background-color:cornsilk ;
}
.projects{
    background-color: lavender;
    display: flex;
    justify-content: space-between;
}
.item{
    border: solid;
    border-radius: 10px;
}
.item img{
    align-items: center;
    width: 50px;
    height: 50px; 
}
.footer{
    display: flex;
    justify-content:flex-end ;
}
.footer img{
    width: 50px;
    height: 50px;
}